<div class="expense-details">

  <section id="expense-tracker">

    <div class="summary">
      <h3>Summary</h3>
      <div class="stats">
        <div><span>Total Income:</span> <span>{{ expenseStore.totalSumIncome() }}</span></div>
        <div><span>Total Expenses:</span> <span>{{ expenseStore.totalSumExpense() }}</span></div>
        <div><span>Net Balance:</span> <span>{{ expenseStore.NetBalance() }}</span></div>
      </div>
    </div>
    <div class="expenses">
      <div class="expense-details">

      <br />
      <div class="inputs">
        <div class="input-group">
          <label for="item">Item</label>
          <input type="text" name="item" id="item" [(ngModel)]="item" />
        </div>

        <div class="input-group">
          <label for="amount">Amount</label>
          <input type="number" name="amount" id="amount" [(ngModel)]="amount" />
        </div>

        <div class="input-group">
          <label for="typeSelect">Income/Expense</label>
          <select name="expense" id="typeSelect" [(ngModel)]="expenseType">
            <option value="Income" selected="true">Income</option>
            <option value="Expense">Expense</option>
          </select>
        </div>
      </div>
      <div class="btn">
        <button name="add" (click)="Add( expenseStore.expenses())">Add Expense/Income</button>
      </div>
      <div class="table-data">
        <h2>Ledger</h2>
        <table class="expense-table">
          <thead>
            <tr>
              <th>Income</th>
              <th>Expenses</th>
            </tr>
          </thead>
          <tbody>
            @for (expense of expenseStore.expenses(); track expense) {
            <tr>
              <td *ngIf="expense.type === 'Income'">
                {{ expense.item }}: {{ expense.amt }}
              </td>
              <td *ngIf="expense.type === 'Income'"></td>
              <td *ngIf="expense.type === 'Expense'"></td>
              <td *ngIf="expense.type === 'Expense'">
                {{ expense.item }}: -{{ expense.amt }}
              </td>
            </tr>
            }
            <tr>
              <td>Total Income: {{ expenseStore.totalSumIncome() }}</td>
              <td>Total Expenses: {{ expenseStore.totalSumExpense() }}</td>
            </tr>
            <tr>
              <td></td>
              <td>Net Balance: {{ expenseStore.NetBalance() }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="expense-chart">
      <h3>Expense Chart</h3>
      <canvas #acquisitions></canvas>
    </div>
    </div>
  </section>
</div>